# Python
__pycache__/
*.pyc

# Airflow
airflow.cfg
airflow-webserver.pid
webserver_config.py

# Logs
logs/

# Data
data/raw/
data/trusted/
data/analytics/

# Env
.env

# Cache
.cache.sqlite

# VSCode
.vscode/